In [23]:
import pandas as pd
import plotly.express as px

In [24]:
unemp = pd.read_excel("Unemployment_by_ACLED_regions_v2.xlsx", sheet_name=None)
riots = pd.read_excel("number_of_political_violence_events_by_country-year_as-of-19Sep2025.xlsx")

In [25]:
list(unemp.keys())

['Africa',
 'Asia-Pacific',
 'Europe_and_Central_Asia',
 'Latin_America_and_Caribbean',
 'Middle_East_and_North_Africa',
 'US_and_Canada']

In [26]:
keys = list(unemp.keys())

In [27]:
unemp = pd.read_excel("Unemployment_by_ACLED_regions_v2.xlsx", sheet_name=keys)

In [28]:
target_columns = ['Country Name', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']

In [29]:
unemp['Africa'][target_columns]

,Country Name,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Angola,NaN,3.782,9.430,16.770,NaN,NaN,9.579,NaN,NaN,NaN,NaN,16.497,NaN,15.799,14.124,NaN
1,Burundi,1.634,NaN,NaN,NaN,NaN,NaN,1.572,NaN,NaN,NaN,NaN,NaN,1.030,NaN,NaN,NaN
2,Benin,NaN,NaN,1.040,2.647,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.214,NaN,NaN,1.685,NaN
3,Burkina Faso,NaN,NaN,NaN,NaN,NaN,NaN,6.481,NaN,NaN,NaN,4.695,1.560,NaN,NaN,1.927,5.348
4,Botswana,NaN,16.169,17.860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.094,21.017,23.106,23.615,23.381
5,Central African Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Cote d'Ivoire,NaN,NaN,NaN,NaN,7.223,4.255,NaN,NaN,1.896,3.273,NaN,2.401,NaN,NaN,2.310,NaN
7,Cameroon,NaN,NaN,4.110,NaN,NaN,NaN,3.534,NaN,NaN,NaN,NaN,NaN,NaN,3.275,NaN,NaN
8,"Congo, Dem. Rep.",NaN,NaN,NaN,NaN,4.485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.466,NaN,NaN,NaN
9,"Congo, Rep.",NaN,19.860,NaN,NaN,10.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Comoros,NaN,NaN,NaN,NaN,NaN,NaN,8.143,NaN,NaN,NaN,NaN,NaN,NaN,4.394,NaN,NaN
11,Cabo Verde,NaN,13.517,10.670,NaN,NaN,NaN,NaN,31.313,NaN,12.240,12.170,11.290,NaN,NaN,NaN,NaN
12,Eritrea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Ethiopia,NaN,NaN,NaN,NaN,NaN,2.251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.935,NaN,NaN
14,Gabon,NaN,NaN,20.390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Ghana,NaN,NaN,5.384,NaN,NaN,2.173,NaN,6.806,NaN,3.369,NaN,NaN,NaN,3.195,2.870,NaN
16,Guinea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.018,NaN,NaN,NaN,NaN
17,"Gambia, The",NaN,NaN,NaN,NaN,10.346,NaN,NaN,NaN,NaN,NaN,4.127,NaN,NaN,NaN,NaN,6.479
18,Guinea-Bissau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.127,1.799,NaN,NaN,2.666,NaN
19,Equatorial Guinea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Kenya,NaN,9.600,NaN,NaN,NaN,NaN,NaN,NaN,2.757,NaN,NaN,5.014,NaN,5.693,NaN,NaN
21,Liberia,NaN,NaN,2.266,NaN,NaN,NaN,2.079,NaN,3.081,5.938,NaN,NaN,NaN,NaN,NaN,NaN
22,Lesotho,35.460,NaN,NaN,NaN,NaN,24.580,NaN,NaN,NaN,NaN,NaN,16.876,NaN,NaN,NaN,NaN
23,Madagascar,NaN,NaN,4.280,NaN,0.599,NaN,NaN,1.785,NaN,NaN,NaN,NaN,NaN,NaN,3.186,NaN
24,Mali,NaN,NaN,8.070,6.900,NaN,6.351,6.376,7.729,1.367,7.414,1.620,3.290,3.528,NaN,2.387,NaN
25,Mozambique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.426,NaN,NaN,NaN,NaN,NaN,NaN,6.789,NaN
26,Mauritania,NaN,NaN,NaN,NaN,9.865,NaN,NaN,NaN,NaN,10.336,NaN,10.416,NaN,NaN,NaN,NaN
27,Mauritius,7.170,7.257,7.654,7.447,7.472,7.322,7.467,7.410,6.814,6.752,6.427,6.331,8.627,7.719,6.322,5.571
28,Malawi,NaN,NaN,NaN,1.736,NaN,4.978,NaN,NaN,NaN,3.770,NaN,NaN,0.907,NaN,NaN,NaN
29,Namibia,NaN,NaN,22.120,NaN,16.771,19.028,18.521,NaN,23.352,NaN,19.877,NaN,NaN,NaN,NaN,NaN
30,Niger,NaN,NaN,NaN,0.317,2.177,NaN,0.524,NaN,NaN,7.769,NaN,0.532,NaN,NaN,0.403,NaN
31,Nigeria,NaN,NaN,NaN,3.770,NaN,3.711,4.562,4.311,7.060,8.389,NaN,10.695,NaN,NaN,3.827,3.074
32,Rwanda,NaN,NaN,NaN,NaN,NaN,NaN,1.169,NaN,NaN,11.875,10.759,11.236,11.829,15.775,15.084,12.352
33,Sudan,15.567,13.000,NaN,17.440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.530,NaN
34,Senegal,NaN,NaN,NaN,2.853,NaN,NaN,NaN,6.757,4.455,4.078,NaN,2.863,NaN,NaN,2.837,NaN
35,Sierra Leone,NaN,NaN,NaN,NaN,NaN,NaN,4.678,NaN,NaN,NaN,3.193,NaN,NaN,NaN,NaN,NaN
36,Somalia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.828,NaN,NaN,NaN,NaN
37,South Sudan,12.298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Sao Tome and Principe,NaN,NaN,NaN,NaN,13.590,NaN,NaN,NaN,NaN,8.808,NaN,NaN,NaN,NaN,NaN,NaN
39,Eswatini,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.718,NaN,NaN,NaN,NaN,34.153,NaN,NaN
40,Seychelles,NaN,NaN,NaN,4.110,NaN,NaN,3.841,4.151,3.965,3.715,3.528,2.966,4.311,NaN,NaN,2.934
41,Chad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.135,NaN,NaN,NaN,NaN,NaN
42,Togo,NaN,NaN,NaN,1.982,NaN,NaN,NaN,2.204,NaN,3.744,NaN,2.036,NaN,NaN,1.965,NaN
43,Tanzania,0.343,2.500,1.314,3.470,1.437,2.930,2.125,NaN,NaN,NaN,NaN,NaN,2.781,NaN,NaN,NaN
44,Uganda,NaN,3.600,1.401,0.882,3.551,1.910,1.566,NaN,NaN,3.428,NaN,2.563,NaN,3.422,NaN,NaN
45,South Africa,22.407,23.523,24.683,24.639,24.727,24.561,24.890,25.149,26.537,27.035,26.906,28.468,29.217,34.007,33.268,32.098
46,Zambia,7.930,NaN,13.190,NaN,7.850,NaN,NaN,11.888,NaN,4.529,5.032,5.538,6.032,5.197,5.993,5.861
47,Zimbabwe,NaN,NaN,NaN,5.368,NaN,NaN,4.774,NaN,NaN,NaN,NaN,7.373,NaN,9.540,10.087,9.348

In [30]:
Africa = unemp['Africa'][target_columns]
Africa = Africa.fillna(0)
Africa

,Country Name,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Angola,0.000,3.782,9.430,16.770,0.000,0.000,9.579,0.000,0.000,0.000,0.000,16.497,0.000,15.799,14.124,0.000
1,Burundi,1.634,0.000,0.000,0.000,0.000,0.000,1.572,0.000,0.000,0.000,0.000,0.000,1.030,0.000,0.000,0.000
2,Benin,0.000,0.000,1.040,2.647,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.214,0.000,0.000,1.685,0.000
3,Burkina Faso,0.000,0.000,0.000,0.000,0.000,0.000,6.481,0.000,0.000,0.000,4.695,1.560,0.000,0.000,1.927,5.348
4,Botswana,0.000,16.169,17.860,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,20.094,21.017,23.106,23.615,23.381
5,Central African Republic,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
6,Cote d'Ivoire,0.000,0.000,0.000,0.000,7.223,4.255,0.000,0.000,1.896,3.273,0.000,2.401,0.000,0.000,2.310,0.000
7,Cameroon,0.000,0.000,4.110,0.000,0.000,0.000,3.534,0.000,0.000,0.000,0.000,0.000,0.000,3.275,0.000,0.000
8,"Congo, Dem. Rep.",0.000,0.000,0.000,0.000,4.485,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.466,0.000,0.000,0.000
9,"Congo, Rep.",0.000,19.860,0.000,0.000,10.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
10,Comoros,0.000,0.000,0.000,0.000,0.000,0.000,8.143,0.000,0.000,0.000,0.000,0.000,0.000,4.394,0.000,0.000
11,Cabo Verde,0.000,13.517,10.670,0.000,0.000,0.000,0.000,31.313,0.000,12.240,12.170,11.290,0.000,0.000,0.000,0.000
12,Eritrea,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
13,Ethiopia,0.000,0.000,0.000,0.000,0.000,2.251,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.935,0.000,0.000
14,Gabon,0.000,0.000,20.390,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
15,Ghana,0.000,0.000,5.384,0.000,0.000,2.173,0.000,6.806,0.000,3.369,0.000,0.000,0.000,3.195,2.870,0.000
16,Guinea,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,5.018,0.000,0.000,0.000,0.000
17,"Gambia, The",0.000,0.000,0.000,0.000,10.346,0.000,0.000,0.000,0.000,0.000,4.127,0.000,0.000,0.000,0.000,6.479
18,Guinea-Bissau,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.127,1.799,0.000,0.000,2.666,0.000
19,Equatorial Guinea,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
20,Kenya,0.000,9.600,0.000,0.000,0.000,0.000,0.000,0.000,2.757,0.000,0.000,5.014,0.000,5.693,0.000,0.000
21,Liberia,0.000,0.000,2.266,0.000,0.000,0.000,2.079,0.000,3.081,5.938,0.000,0.000,0.000,0.000,0.000,0.000
22,Lesotho,35.460,0.000,0.000,0.000,0.000,24.580,0.000,0.000,0.000,0.000,0.000,16.876,0.000,0.000,0.000,0.000
23,Madagascar,0.000,0.000,4.280,0.000,0.599,0.000,0.000,1.785,0.000,0.000,0.000,0.000,0.000,0.000,3.186,0.000
24,Mali,0.000,0.000,8.070,6.900,0.000,6.351,6.376,7.729,1.367,7.414,1.620,3.290,3.528,0.000,2.387,0.000
25,Mozambique,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.426,0.000,0.000,0.000,0.000,0.000,0.000,6.789,0.000
26,Mauritania,0.000,0.000,0.000,0.000,9.865,0.000,0.000,0.000,0.000,10.336,0.000,10.416,0.000,0.000,0.000,0.000
27,Mauritius,7.170,7.257,7.654,7.447,7.472,7.322,7.467,7.410,6.814,6.752,6.427,6.331,8.627,7.719,6.322,5.571
28,Malawi,0.000,0.000,0.000,1.736,0.000,4.978,0.000,0.000,0.000,3.770,0.000,0.000,0.907,0.000,0.000,0.000
29,Namibia,0.000,0.000,22.120,0.000,16.771,19.028,18.521,0.000,23.352,0.000,19.877,0.000,0.000,0.000,0.000,0.000
30,Niger,0.000,0.000,0.000,0.317,2.177,0.000,0.524,0.000,0.000,7.769,0.000,0.532,0.000,0.000,0.403,0.000
31,Nigeria,0.000,0.000,0.000,3.770,0.000,3.711,4.562,4.311,7.060,8.389,0.000,10.695,0.000,0.000,3.827,3.074
32,Rwanda,0.000,0.000,0.000,0.000,0.000,0.000,1.169,0.000,0.000,11.875,10.759,11.236,11.829,15.775,15.084,12.352
33,Sudan,15.567,13.000,0.000,17.440,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,7.530,0.000
34,Senegal,0.000,0.000,0.000,2.853,0.000,0.000,0.000,6.757,4.455,4.078,0.000,2.863,0.000,0.000,2.837,0.000
35,Sierra Leone,0.000,0.000,0.000,0.000,0.000,0.000,4.678,0.000,0.000,0.000,3.193,0.000,0.000,0.000,0.000,0.000
36,Somalia,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,18.828,0.000,0.000,0.000,0.000
37,South Sudan,12.298,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
38,Sao Tome and Principe,0.000,0.000,0.000,0.000,13.590,0.000,0.000,0.000,0.000,8.808,0.000,0.000,0.000,0.000,0.000,0.000
39,Eswatini,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,22.718,0.000,0.000,0.000,0.000,34.153,0.000,0.000
40,Seychelles,0.000,0.000,0.000,4.110,0.000,0.000,3.841,4.151,3.965,3.715,3.528,2.966,4.311,0.000,0.000,2.934
41,Chad,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.135,0.000,0.000,0.000,0.000,0.000
42,Togo,0.000,0.000,0.000,1.982,0.000,0.000,0.000,2.204,0.000,3.744,0.000,2.036,0.000,0.000,1.965,0.000
43,Tanzania,0.343,2.500,1.314,3.470,1.437,2.930,2.125,0.000,0.000,0.000,0.000,0.000,2.781,0.000,0.000,0.000
44,Uganda,0.000,3.600,1.401,0.882,3.551,1.910,1.566,0.000,0.000,3.428,0.000,2.563,0.000,3.422,0.000,0.000
45,South Africa,22.407,23.523,24.683,24.639,24.727,24.561,24.890,25.149,26.537,27.035,26.906,28.468,29.217,34.007,33.268,32.098
46,Zambia,7.930,0.000,13.190,0.000,7.850,0.000,0.000,11.888,0.000,4.529,5.032,5.538,6.032,5.197,5.993,5.861
47,Zimbabwe,0.000,0.000,0.000,5.368,0.000,0.000,4.774,0.000,0.000,0.000,0.000,7.373,0.000,9.540,10.087,9.348

In [31]:
years = target_columns[1:]

In [32]:
summary_list = []
for sheet, df in unemp.items():
    total_row = df[years].median().to_frame().T
    total_row.insert(0, 'Region', sheet)

    summary_list.append(total_row)

summary_df = pd.concat(summary_list, ignore_index=True)

summary_df

,Region,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Africa,10.1140,11.300,7.8620,3.770,7.6610,4.6165,4.6200,6.7815,4.4550,6.3450,4.6950,5.2780,4.3110,6.7060,3.5065,6.1700
1,Asia-Pacific,3.9600,5.034,3.8525,4.100,3.7200,3.9490,3.8460,3.3850,4.1615,3.8415,3.5870,3.7460,4.3975,4.6400,3.7280,3.3080
2,Europe_and_Central_Asia,6.3690,8.250,8.3630,8.054,9.0255,8.6310,8.8170,8.9620,7.2825,6.7155,6.0440,5.6765,6.7835,6.3640,5.5705,5.5600
3,Latin_America_and_Caribbean,6.2000,7.322,6.8960,6.780,6.4510,6.4440,6.6330,6.3130,6.6730,6.1380,7.9720,7.4930,10.6735,8.2030,6.3775,6.0710
4,Middle_East_and_North_Africa,8.1105,8.960,8.6835,9.435,8.4775,9.5250,9.9535,9.4600,7.4500,11.7670,5.0560,6.7435,7.6600,6.4795,6.4665,4.0080
5,US_and_Canada,6.0340,8.460,8.1780,8.293,8.0690,7.1430,7.0230,6.1125,5.9535,5.3905,4.8665,4.6795,8.8560,6.4380,4.4650,4.5265

In [33]:
region_dict = {}

for sheet_name, df in unemp.items():
    countries = df['Country Name'].tolist()
    for country in countries:
        region_dict[country] = sheet_name

region_dict

{'Angola': 'Africa',
 'Burundi': 'Africa',
 'Benin': 'Africa',
 'Burkina Faso': 'Africa',
 'Botswana': 'Africa',
 'Central African Republic': 'Africa',
 "Cote d'Ivoire": 'Africa',
 'Cameroon': 'Africa',
 'Congo, Dem. Rep.': 'Africa',
 'Congo, Rep.': 'Africa',
 'Comoros': 'Africa',
 'Cabo Verde': 'Africa',
 'Eritrea': 'Africa',
 'Ethiopia': 'Africa',
 'Gabon': 'Africa',
 'Ghana': 'Africa',
 'Guinea': 'Africa',
 'Gambia, The': 'Africa',
 'Guinea-Bissau': 'Africa',
 'Equatorial Guinea': 'Africa',
 'Kenya': 'Africa',
 'Liberia': 'Africa',
 'Lesotho': 'Africa',
 'Madagascar': 'Africa',
 'Mali': 'Africa',
 'Mozambique': 'Africa',
 'Mauritania': 'Africa',
 'Mauritius': 'Africa',
 'Malawi': 'Africa',
 'Namibia': 'Africa',
 'Niger': 'Africa',
 'Nigeria': 'Africa',
 'Rwanda': 'Africa',
 'Sudan': 'Africa',
 'Senegal': 'Africa',
 'Sierra Leone': 'Africa',
 'Somalia': 'Africa',
 'South Sudan': 'Africa',
 'Sao Tome and Principe': 'Africa',
 'Eswatini': 'Africa',
 'Seychelles': 'Africa',
 'Chad': 'Africa',
 'Togo': 'Africa',
 'Tanzania': 'Africa',
 'Uganda': 'Africa',
 'South Africa': 'Africa',
 'Zambia': 'Africa',
 'Zimbabwe': 'Africa',
 'American Samoa': 'Asia-Pacific',
 'Australia': 'Asia-Pacific',
 'Bangladesh': 'Asia-Pacific',
 'Brunei Darussalam': 'Asia-Pacific',
 'Bhutan': 'Asia-Pacific',
 'China': 'Asia-Pacific',
 'Fiji': 'Asia-Pacific',
 'Micronesia, Fed. Sts.': 'Asia-Pacific',
 'Guam': 'Asia-Pacific',
 'Hong Kong SAR, China': 'Asia-Pacific',
 'Indonesia': 'Asia-Pacific',
 'India': 'Asia-Pacific',
 'Japan': 'Asia-Pacific',
 'Cambodia': 'Asia-Pacific',
 'Kiribati': 'Asia-Pacific',
 'Korea, Rep.': 'Asia-Pacific',
 'Lao PDR': 'Asia-Pacific',
 'Sri Lanka': 'Asia-Pacific',
 'Macao SAR, China': 'Asia-Pacific',
 'Maldives': 'Asia-Pacific',
 'Marshall Islands': 'Asia-Pacific',
 'Myanmar': 'Asia-Pacific',
 'Mongolia': 'Asia-Pacific',
 'Northern Mariana Islands': 'Asia-Pacific',
 'Malaysia': 'Asia-Pacific',
 'New Caledonia': 'Asia-Pacific',
 'Nepal': 'Asia-Pacific',
 'Nauru': 'Asia-Pacific',
 'New Zealand': 'Asia-Pacific',
 'Philippines': 'Asia-Pacific',
 'Palau': 'Asia-Pacific',
 'Papua New Guinea': 'Asia-Pacific',
 "Korea, Dem. People's Rep.": 'Asia-Pacific',
 'French Polynesia': 'Asia-Pacific',
 'Singapore': 'Asia-Pacific',
 'Solomon Islands': 'Asia-Pacific',
 'Thailand': 'Asia-Pacific',
 'Timor-Leste': 'Asia-Pacific',
 'Tonga': 'Asia-Pacific',
 'Tuvalu': 'Asia-Pacific',
 'Viet Nam': 'Asia-Pacific',
 'Vanuatu': 'Asia-Pacific',
 'Samoa': 'Asia-Pacific',
 'Albania': 'Europe_and_Central_Asia',
 'Andorra': 'Europe_and_Central_Asia',
 'Armenia': 'Europe_and_Central_Asia',
 'Austria': 'Europe_and_Central_Asia',
 'Azerbaijan': 'Europe_and_Central_Asia',
 'Belgium': 'Europe_and_Central_Asia',
 'Bulgaria': 'Europe_and_Central_Asia',
 'Bosnia and Herzegovina': 'Europe_and_Central_Asia',
 'Belarus': 'Europe_and_Central_Asia',
 'Switzerland': 'Europe_and_Central_Asia',
 'Channel Islands': 'Europe_and_Central_Asia',
 'Cyprus': 'Europe_and_Central_Asia',
 'Czechia': 'Europe_and_Central_Asia',
 'Germany': 'Europe_and_Central_Asia',
 'Denmark': 'Europe_and_Central_Asia',
 'Spain': 'Europe_and_Central_Asia',
 'Estonia': 'Europe_and_Central_Asia',
 'Finland': 'Europe_and_Central_Asia',
 'France': 'Europe_and_Central_Asia',
 'Faroe Islands': 'Europe_and_Central_Asia',
 'United Kingdom': 'Europe_and_Central_Asia',
 'Georgia': 'Europe_and_Central_Asia',
 'Gibraltar': 'Europe_and_Central_Asia',
 'Greece': 'Europe_and_Central_Asia',
 'Greenland': 'Europe_and_Central_Asia',
 'Croatia': 'Europe_and_Central_Asia',
 'Hungary': 'Europe_and_Central_Asia',
 'Isle of Man': 'Europe_and_Central_Asia',
 'Ireland': 'Europe_and_Central_Asia',
 'Iceland': 'Europe_and_Central_Asia',
 'Italy': 'Europe_and_Central_Asia',
 'Kazakhstan': 'Europe_and_Central_Asia',
 'Kyrgyz Republic': 'Europe_and_Central_Asia',
 'Liechtenstein': 'Europe_and_Central_Asia',
 'Lithuania': 'Europe_and_Central_Asia',
 'Luxembourg': 'Europe_and_Central_Asia',
 'Latvia': 'Europe_and_Central_Asia',
 'Monaco': 'Europe_and_Central_Asia',
 'Moldova': 'Europe_and_Central_Asia',
 'North Macedonia': 'Europe_and_Central_Asia',
 'Montenegro': 'Europe_and_Central_Asia',
 'Netherlands': 'Europe_and_Central_Asia',
 'Norway': 'Europe_and_Central_Asia',
 'Poland': 'Europe_and_Central_Asia',
 'Portugal': 'Europe_and_Central_Asia',
 'Romania': 'Europe_and_Central_Asia',
 'Russian Federation': 'Europe_and_Central_Asia',
 'San Marino': 'Europe_and_Central_Asia',
 'Serbia': 'Europe_and_Central_Asia',
 'Slovak Republic': 'Europe_and_Central_Asia',
 'Slovenia': 'Europe_and_Central_Asia',
 'Sweden': 'Europe_and_Central_Asia',
 'Tajikistan': 'Europe_and_Central_Asia',
 'Turkmenistan': 'Europe_and_Central_Asia',
 'Turkiye': 'Europe_and_Central_Asia',
 'Ukraine': 'Europe_and_Central_Asia',
 'Uzbekistan': 'Europe_and_Central_Asia',
 'Kosovo': 'Europe_and_Central_Asia',
 'Aruba': 'Latin_America_and_Caribbean',
 'Argentina': 'Latin_America_and_Caribbean',
 'Antigua and Barbuda': 'Latin_America_and_Caribbean',
 'Bahamas, The': 'Latin_America_and_Caribbean',
 'Belize': 'Latin_America_and_Caribbean',
 'Bolivia': 'Latin_America_and_Caribbean',
 'Brazil': 'Latin_America_and_Caribbean',
 'Barbados': 'Latin_America_and_Caribbean',
 'Chile': 'Latin_America_and_Caribbean',
 'Colombia': 'Latin_America_and_Caribbean',
 'Costa Rica': 'Latin_America_and_Caribbean',
 'Cuba': 'Latin_America_and_Caribbean',
 'Curacao': 'Latin_America_and_Caribbean',
 'Cayman Islands': 'Latin_America_and_Caribbean',
 'Dominica': 'Latin_America_and_Caribbean',
 'Dominican Republic': 'Latin_America_and_Caribbean',
 'Ecuador': 'Latin_America_and_Caribbean',
 'Grenada': 'Latin_America_and_Caribbean',
 'Guatemala': 'Latin_America_and_Caribbean',
 'Guyana': 'Latin_America_and_Caribbean',
 'Honduras': 'Latin_America_and_Caribbean',
 'Haiti': 'Latin_America_and_Caribbean',
 'Jamaica': 'Latin_America_and_Caribbean',
 'St. Kitts and Nevis': 'Latin_America_and_Caribbean',
 'St. Lucia': 'Latin_America_and_Caribbean',
 'St. Martin (French part)': 'Latin_America_and_Caribbean',
 'Mexico': 'Latin_America_and_Caribbean',
 'Nicaragua': 'Latin_America_and_Caribbean',
 'Panama': 'Latin_America_and_Caribbean',
 'Peru': 'Latin_America_and_Caribbean',
 'Puerto Rico (US)': 'Latin_America_and_Caribbean',
 'Paraguay': 'Latin_America_and_Caribbean',
 'El Salvador': 'Latin_America_and_Caribbean',
 'Suriname': 'Latin_America_and_Caribbean',
 'Sint Maarten (Dutch part)': 'Latin_America_and_Caribbean',
 'Turks and Caicos Islands': 'Latin_America_and_Caribbean',
 'Trinidad and Tobago': 'Latin_America_and_Caribbean',
 'Uruguay': 'Latin_America_and_Caribbean',
 'St. Vincent and the Grenadines': 'Latin_America_and_Caribbean',
 'Venezuela, RB': 'Latin_America_and_Caribbean',
 'British Virgin Islands': 'Latin_America_and_Caribbean',
 'Virgin Islands (U.S.)': 'Latin_America_and_Caribbean',
 'Afghanistan': 'Middle_East_and_North_Africa',
 'United Arab Emirates': 'Middle_East_and_North_Africa',
 'Bahrain': 'Middle_East_and_North_Africa',
 'Djibouti': 'Middle_East_and_North_Africa',
 'Algeria': 'Middle_East_and_North_Africa',
 'Egypt, Arab Rep.': 'Middle_East_and_North_Africa',
 'Iran, Islamic Rep.': 'Middle_East_and_North_Africa',
 'Iraq': 'Middle_East_and_North_Africa',
 'Israel': 'Middle_East_and_North_Africa',
 'Jordan': 'Middle_East_and_North_Africa',
 'Kuwait': 'Middle_East_and_North_Africa',
 'Lebanon': 'Middle_East_and_North_Africa',
 'Libya': 'Middle_East_and_North_Africa',
 'Morocco': 'Middle_East_and_North_Africa',
 'Malta': 'Middle_East_and_North_Africa',
 'Oman': 'Middle_East_and_North_Africa',
 'Pakistan': 'Middle_East_and_North_Africa',
 'West Bank and Gaza': 'Middle_East_and_North_Africa',
 'Qatar': 'Middle_East_and_North_Africa',
 'Saudi Arabia': 'Middle_East_and_North_Africa',
 'Syrian Arab Republic': 'Middle_East_and_North_Africa',
 'Tunisia': 'Middle_East_and_North_Africa',
 'Yemen, Rep.': 'Middle_East_and_North_Africa',
 'Bermuda': 'US_and_Canada',
 'Canada': 'US_and_Canada',
 'United States': 'US_and_Canada'}

In [34]:
riots_pivot = riots.pivot(index='COUNTRY', columns='YEAR', values='EVENTS')
riots_pivot.columns.name = None
riots_pivot = riots_pivot.reset_index()
riots_pivot.columns = riots_pivot.columns.map(str)
riots_pivot

,COUNTRY,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,12582.0,13664.0,13612.0,9758.0,9122.0,2547.0,1035.0,1095.0,558.0
1,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN
2,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6.0,18.0,7.0,21.0,6.0,8.0,6.0,3.0
3,Algeria,141.0,47.0,63.0,168.0,155.0,210.0,158.0,96.0,78.0,...,67.0,115.0,60.0,13.0,35.0,20.0,22.0,17.0,17.0,18.0
4,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,Wallis and Futuna,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
241,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8767.0,8258.0,10807.0,10573.0,10017.0,7382.0,6449.0,3087.0,3855.0,2979.0
242,Zambia,4.0,3.0,9.0,15.0,11.0,3.0,10.0,8.0,12.0,...,52.0,14.0,29.0,22.0,80.0,75.0,38.0,37.0,10.0,26.0
243,Zimbabwe,3.0,11.0,19.0,270.0,280.0,656.0,254.0,242.0,200.0,...,105.0,208.0,238.0,96.0,92.0,84.0,142.0,173.0,49.0,10.0
244,eSwatini,1.0,4.0,2.0,2.0,1.0,0.0,3.0,0.0,3.0,...,1.0,0.0,5.0,6.0,22.0,65.0,120.0,48.0,17.0,4.0

In [35]:
riots_columns = ['COUNTRY'] + years
riots_columns

['COUNTRY',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022',
 '2023']

In [36]:
riots_pivot = riots_pivot[riots_columns]
riots_pivot = riots_pivot.set_index(riots_pivot.columns[0])
riots_pivot

,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
COUNTRY,,,,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12582.0,13664.0,13612.0,9758.0,9122.0,2547.0,1035.0
Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,1.0,NaN,NaN
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,18.0,7.0,21.0,6.0,8.0
Algeria,196.0,186.0,107.0,158.0,125.0,138.0,126.0,78.0,67.0,115.0,60.0,13.0,35.0,20.0,22.0,17.0
American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7570.0,8767.0,8258.0,10807.0,10573.0,10017.0,7382.0,6449.0,3087.0
Zambia,4.0,9.0,9.0,17.0,22.0,40.0,45.0,47.0,52.0,14.0,29.0,22.0,80.0,75.0,38.0,37.0
Zimbabwe,700.0,147.0,127.0,196.0,126.0,65.0,97.0,153.0,105.0,208.0,238.0,96.0,92.0,84.0,142.0,173.0
eSwatini,3.0,1.0,4.0,3.0,10.0,6.0,1.0,5.0,1.0,0.0,5.0,6.0,22.0,65.0,120.0,48.0

In [37]:
riots_region = pd.DataFrame(index=['Africa',
                                'Asia-Pacific',
                                'Europe_and_Central_Asia',
                                'Latin_America_and_Caribbean',
                                'Middle_East_and_North_Africa',
                                'US_and_Canada'],
                           columns=['2008',
                                    '2009',
                                    '2010',
                                    '2011',
                                    '2012',
                                    '2013',
                                    '2014',
                                    '2015',
                                    '2016',
                                    '2017',
                                    '2018',
                                    '2019',
                                    '2020',
                                    '2021',
                                    '2022',
                                    '2023'])

riots_region

,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Asia-Pacific,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Europe_and_Central_Asia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Latin_America_and_Caribbean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Middle_East_and_North_Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
US_and_Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
for country in region_dict.keys():
    for col in riots_region.columns:
        if country in riots_pivot.index:
            if pd.isna(riots_region.loc[region_dict[country], col]):
                if pd.notna(riots_pivot.loc[country, col]):
                    riots_region.loc[region_dict[country], col] = riots_pivot.loc[country, col]
            else:
                if pd.notna(riots_pivot.loc[country, col]):
                    riots_region.loc[region_dict[country], col] += riots_pivot.loc[country, col]

riots_region

,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Africa,3409.0,1905.0,2657.0,2530.0,4704.0,6591.0,7874.0,7901.0,8325.0,9047.0,10564.0,10574.0,14783.0,18650.0,20371.0,25187.0
Asia-Pacific,NaN,NaN,2825.0,2750.0,2324.0,2809.0,2107.0,2582.0,7825.0,7132.0,9287.0,10725.0,7519.0,12687.0,16568.0,18875.0
Europe_and_Central_Asia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23415.0,21164.0,14803.0,8611.0,41224.0,55957.0
Latin_America_and_Caribbean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23915.0,22463.0,20915.0,21896.0,23997.0,26439.0
Middle_East_and_North_Africa,212.0,195.0,1907.0,2171.0,2500.0,2375.0,3366.0,3319.0,13063.0,20383.0,19630.0,19116.0,15602.0,15976.0,10437.0,11152.0
US_and_Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,285.0,175.0,205.0,167.0

In [39]:
riots_region = riots_region.fillna(0)
riots_region

/var/folders/m3/yrfkxbps2dj234x7zfm0t6bh0000gn/T/ipykernel_6750/2064573492.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  riots_region = riots_region.fillna(0)

,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Africa,3409.0,1905.0,2657.0,2530.0,4704.0,6591.0,7874.0,7901.0,8325.0,9047.0,10564.0,10574.0,14783.0,18650.0,20371.0,25187.0
Asia-Pacific,0.0,0.0,2825.0,2750.0,2324.0,2809.0,2107.0,2582.0,7825.0,7132.0,9287.0,10725.0,7519.0,12687.0,16568.0,18875.0
Europe_and_Central_Asia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23415.0,21164.0,14803.0,8611.0,41224.0,55957.0
Latin_America_and_Caribbean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23915.0,22463.0,20915.0,21896.0,23997.0,26439.0
Middle_East_and_North_Africa,212.0,195.0,1907.0,2171.0,2500.0,2375.0,3366.0,3319.0,13063.0,20383.0,19630.0,19116.0,15602.0,15976.0,10437.0,11152.0
US_and_Canada,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,285.0,175.0,205.0,167.0

In [40]:
summary_df.to_csv("unemployment_rate_data.csv", index=False)

In [41]:
riots_region = riots_region.reset_index(names="Region")
riots_region.to_csv("riots_data.csv", index=False)